
h1 {
    font-size: 50px;
}

body {
    background-color: rgb(41, 41, 41);
}

.text-color {
    color: aliceblue;
}

.text-style {
    font-family: 'Roboto Mono', serif;
}

.fs20 {
    font-size: 20px;
}
